<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""
    ></script>
     
  
  <title>Air Pollution</title>
  <style>
    header{
      background: url(/img/airpollution.jpg);
      background-size: cover;
      background-position: center;
      min-height: 1000px;
    }
    @media screen and (max-width: 670px){
      header{
        min-height: 500px;
      }
    }
    .section{
      padding-top: 4vw;
      padding-bottom: 4vw;
    }
    .tabs .indicator{
      background-color: #1a237e;
    }
    .tabs .tab a:focus, .tabs .tab a:focus.active{
      background: transparent;
    }
      #checkinMap {
        height: 500px;
       
        
      }


  </style>
</head>
<body>

  <!-- navbar margin: 8px 0px;     -->
  <header>
    <nav class="nav-wrapper transparent">
      <div class="container">
        <a href="#" class="brand-logo">Air Pollution</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-menu">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#photos">Monitor</a></li>
          <li><a href="#services">About</a></li>
           <li><a href="#map" onclick="javascript:myfunc()">Map</a></li>
          <li><a href="#contact">Future</a></li>
          <li><a href="#" class="tooltipped btn-floating btn-small indigo darken-4" data-position="bottom" data-tooltip="Instagram"> 
            <i class="fab fa-instagram"></i>
          </a></li>
          <li><a href="#" class="tooltipped btn-floating btn-small indigo darken-4" data-position="bottom" data-tooltip="Facebook">
            <i class="fab fa-facebook"></i>
          </a></li>
          <li><a href="#" class="tooltipped btn-floating btn-small indigo darken-4" data-position="bottom" data-tooltip="Twitter">
            <i class="fab fa-twitter"></i>
          </a></li>
        </ul>
        <ul class="sidenav grey lighten-2" id="mobile-menu">
          <li><a href="#photos">Monitor</a></li>
          <li><a href="#services">About</a></li>
          <li><a href="#map" onclick="javascript:myfunc()">Map</a></li>
          <li><a href="#contact">Future</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- photo / grid -->
  <section class="container section scrollspy" id="photos">
    <!-- <div class="row">
      <div class="col s12 l4">
          <img src="../public/img/portrait.jpg" alt="" class="responsive-img materialboxed">
      </div> -->
      <div class="col s12 l6 offset-l1">
        <h4 class="indigo-text text-darken-4">Pollution monitoring</h4>
        <p>Check your Air pollution values here!</p>

        <form>
            <input placeholder="City/Town">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p  id="message-2"></p>
        <p  id="message-3"></p>
       
      </div>
    
  </section>

  <!-- parallax -->
  <div class="parallax-container">
    <div class="parallax">
      <img src="/img/pollution.jpg" alt="" class="responsive-img">
    </div>
  </div>

  <!-- services / tabs -->
  <section class="section container scrollspy" id="services">
   
    
      <div class="col s12 l6 offset-l1">
         
        <h4 class="indigo-text text-darken-4" >About Air Pollution</h4>
        
        <div class="indigo-text text-darken-4">
          <h5 class="indigo-text text-darken-4" >Air</h5>
          <p >Air is mostly nitrogen (about 78%) and oxygen (about 21%), but it also contains
  Ozone, Carbon dioxide, Argon and other gases, Water vapor and Particles.
  Air pollution can consist of gases and particles. Some air pollution comes from natural processes, such as volcanic eruptions, forest fires, and hot springs, but most results from human activities. Air pollution harms people, harms other living things such as plants and trees, and reduces visibility.</p> 
<h5 class="indigo-text text-darken-4" >Gases</h5>
<p>
Gases that lead to air pollution include (but are not limited to) carbon, volatile organic compounds (VOCs), nitrogen oxides (NOx), and sulfur oxides (SOx). Some of these gases occur naturally in the environment, while others come from human activities such as driving vehicles that burn fossil fuel, power generation, petroleum refining, manufacturing, burning of tyres and rubbish.
</p>
 </div>
        
 <p class="indigo-text text-darken-4" >Air Pollution, a.k.a. “The Invisible Killer” is held responsible for 7 million deaths a year, as reported by WHO (World Health Organisation). The pollutants like ozone (O3), particulate matter (PM), nitrogen dioxide (NO2), and sulfur dioxide (SO2) are linked to cardiovascular diseases and cancer incidents. Poor urban planning and adverse road traffic are considered to be major causes of air pollution in the cities. Meanwhile, the fossil fuel combustion on power plants, and production of steel, cement and chemical are releasing GNG (greenhouse gases) and PM (particulate matters) into the atmosphere somewhere away from our sight. 

This site uses OpenWeatherMap API to provide the information for citizens in tackling the sustainability challenges. Openweather Air Pollution API provides the AQI (Air Quality Index) directly from SILAM (System for Integrated modeLling of Atmospheric coMposition
)- the atmospheric composition model developed by Finnish Meteorological Institute. OpenweatherMap have accumulated all the major air quality parameters such as CO; NO; NO2; O3; SO2; PM2.5; PM10 and NH3 and made them available through a fast and straightforward API. It has the current, historical and forecasted air pollution data for any location across the Globe.  </p>

    
       
</div>   
</section> 

  <!-- parallax -->
  <div class="parallax-container">
    <div class="parallax">
      <img src="/img/smokestacks.jpg" alt="" class="responsive-img">
    </div>
  </div>
<!-- map -->

<section class="container section scrollspy" id="map">
    
      <div class="col s12 l6 offset-l1">
         
        <h4 class="indigo-text text-darken-4" id="message-6"></h4>
        
        <div class="indigo-text text-darken-4"><p id="message-5"></p> </div>
        
 

        <div id="checkinMap"></div>
     <!--<a href="/mapbig">See this example stand-alone.</a>-->
       
</div>   
</section> 
      
    
  <!-- parallax -->
  <div class="parallax-container">
    <div class="parallax">
      <img src="/img/pollution.jpg" alt="" class="responsive-img">
    </div>
  </div>

  <!-- contact form -->
  <section class="section container scrollspy" id="contact">
 
   
    
      <div class="col s12 l6 offset-l1">
         
        <h4 class="indigo-text text-darken-4" >The Future</h4>
        
        <div class="indigo-text text-darken-4"><p >This site will show less expensive ways of monitoring Noise pollution in Ghana and show examples of live monitoring levels. In addition a Blog where like minded citizens can discuss the way forward on Air pollution, Noise pollution and littering in Ghana. </p> </div>
        
 
    
       
</div>   
 
  </section>

  <!-- footer -->
  <footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>Site</h5>
          <p>An initiative to provide Air pollution parameters for Ghana(Map) although you can check pollution for every town and city in the search facility.</p>
          <p>In the near future this site will provide pollution(Map) for important cities and towns in West Africa.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Linked In</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright grey darken-4">
      <div class="container center-align">&copy; 2022 Air Pollution GH</div>
    </div>
  </footer>

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){

      $('.sidenav').sidenav();
      $('.materialboxed').materialbox();
      $('.parallax').parallax();
      $('.tabs').tabs();
      $('.datepicker').datepicker({
        disableWeekends: true,
        yearRange: 1
      });
      $('.tooltipped').tooltip();
      $('.scrollspy').scrollSpy();

    });
     </script>
    <script src="/js/app.js"></script>
    <script> 
     
     let mymap = null;

    function myfunc() { 
     
     if (mymap !== undefined && mymap !== null) {

         mymap.remove();
     }
  const messageFive = document.querySelector("#message-5");
  const messageSix = document.querySelector("#message-6");
   
     messageFive.textContent = "Loading..."; 
     messageSix.textContent = "";


     mymap = L.map("checkinMap").setView([6.6885, -1.6244], 6); 
     const attribution =
  '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
  const tileUrl = "https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png";
const tiles = L.tileLayer(tileUrl, { attribution });
tiles.addTo(mymap);

    
     
     
//const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
   
let cname , txt;
city = ["Obuasi", "Accra", "Takoradi", "Kumasi", "Tamale"];



city.forEach((cities) => {
// cname = city[2];
cname = cities;
fetch("/api?address=" + cname).then((response) => {
  response.json().then((data) => {
    if (data.error) {
      const derror = data.error;
       messageFive.textContent = derror;
      console.log(derror);
    } else {
      messageFive.textContent = "";
      messageSix.textContent = "Regional capitals with air pollution parameters - Ghana"
      const dlocation = data.location;
      const dforecast = data.forecast;
      const dlatitude = data.latitude;
      const dlongitude = data.longitude;
      const marker = L.marker([dlatitude, dlongitude]).addTo(mymap);
      txt = data.location + data.forecast;
      marker.bindPopup(txt);



      console.log(dlocation);
      console.log(dforecast);
    }
  });
});
});
        }
    

    </script>
 
</body>
</html>

   

    
